---
import Layout from "../layouts/BaseLayout.astro";
---
<Layout title="Home">

    <p>
        These pages use <code>astro@1.0.0-beta.5</code>, and have no react- (or other) integrations going.
    </p>

    <h2>The problem</h2>
    <p>
        The content for the "About" page is pure markdown, but can no longer be imported and used as in (for example) <code>v0.22.20</code>.
        Astro thinks some "integration" needs to be defined to render the <code>&lt;Content /&gt;</code> tag.
    </p>
    <p>
        Agreed, not unreasonable since it looks like a tag from some popular framework &mdash; but markdown is said to work "out of the box".
    </p>

    <pre>
---
import Content from "../path/to/content/about.md";
---

&lt;Content /&gt;</pre>


    <p>
        <em>A suggestion in the support thread on Discord suggested trying to append the <code>?raw</code> directive to the markdown import. I hadn't heard of that
        being applicable to markdown, but tried it anyway.  It ended up rendering the string <code>undefined</code>.</em>
    </p>

    <p>
        If an integration (such as the one for React) is registered, another problem manifests (see below).
    </p>

<hr />

Do

<ul>
<li>
    <pre>
git checkout astro-v0.22.20 && npm run start:clean</pre>
to see how it works in <code>v0.22.20</code>.
</li>
<li>
    <pre>
git checkout astro-v1.0.0-beta.5-react && npm run start:clean</pre>
to see how it works in <code>v1.0.0-beta.5</code> <em>with a React integration registered</em>.
</li>
</ul>

</Layout>
